<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- freemarker config -->
  <bean id="freemarkerConfig" class="com.globant.katari.core.web.FreeMarkerConfigurer"
    p:templateLoaderPath="classpath:/com/globant/katari/gadgetcontainer/view"
    p:debugPrefix='../katari-gadget-container/src/main/resources'
    p:debug-ref='debugMode' />

  <bean id="freemarkerViewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
    p:prefix="/" p:suffix=".js" p:exposeSpringMacroHelpers='true' />

  <bean name='/socialPage.do'
    class='com.globant.katari.gadgetcontainer.view.GadgetGroupController'>
    <lookup-method name="createCommandBean" bean="viewSocialPageCommand" />
  </bean>
 
  <bean name='/katariSocialCanvas.js'
    class='com.globant.katari.gadgetcontainer.view.CanvasModelController'>
    <property name="viewName" value="katari-social-canvas" />
  </bean>

  <!-- Command definition -->
  <bean name="viewSocialPageCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.GadgetGroupCommand">
    <constructor-arg index="0" ref="social.gadgetGroupRepository" />
    <constructor-arg index="1" ref="social.userService" />
    <constructor-arg index="2" ref="social.tokenService" />
  </bean>

  <bean
    class="com.globant.katari.core.spring.ConstructorArgumentsBeanNameAutoProxyCreator">
    <property name="proxyTargetClass" value="true" />
    <property name="beanNames">
      <list>
        <value>viewSocialPageCommand</value>
      </list>
    </property>
    <property name="interceptorNames">
      <list>
        <value>transactionInterceptor</value>
      </list>
    </property>
  </bean>

  <bean id="transactionInterceptor"
    class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager" ref="katari.transactionManager" />
    <property name="transactionAttributes">
      <props>
        <prop key="execute">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <!-- vim: set ts=2 sw=2 et ai: -->
</beans>
