<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- freemarker config -->
  <bean id="freemarkerConfig"
    class="com.globant.katari.core.web.FreeMarkerConfigurer"
    p:templateLoaderPath="classpath:/com/globant/katari/gadgetcontainer/view"
    p:debug-ref='debugMode'>
    <property name='debugPrefixes'>
      <list>
        <value>../katari-gadget-container/src/main/js</value>
        <value>../katari-gadget-container/src/main/resources</value>
      </list>
    </property>
  </bean>

  <bean id="freemarkerViewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
    p:prefix="/" p:suffix="" p:exposeSpringMacroHelpers='true'
    p:exposeRequestAttributes='true'/>

  <bean name='/getGadgetGroup.do'
    class='com.globant.katari.core.spring.controller.JsonCommandController'>
    <lookup-method name="createCommandBean" bean="gadgetGroupCommand" />
  </bean>

  <bean name='/moveGadget.do'
    class='com.globant.katari.core.spring.controller.JsonCommandController'>
    <lookup-method name="createCommandBean" bean="moveGadgetCommand" />
  </bean>

  <!-- Endpoint to add an application to a group. -->
  <bean name='/addApplicationToGroup.do'
    class='com.globant.katari.core.spring.controller.JsonCommandController'>
    <lookup-method name="createCommandBean" bean="addApplicationToGroupCommand" />
  </bean>

  <!-- Endpoint to remove an application from a group. -->
  <bean name='/removeApplicationFromGroup.do'
    class='com.globant.katari.core.spring.controller.JsonCommandController'>
    <lookup-method name="createCommandBean"
      bean="removeApplicationFromGroupCommand" />
  </bean>

  <!-- Endpoint to show the application directory. The application directory
       allows users to add a gadget to a gadget group. -->
  <bean name='/directory.do'
    class='com.globant.katari.gadgetcontainer.view.ViewCommandController'
    p:viewName='directory.ftl'>
    <lookup-method name="createCommandBean" bean="listApplicationsCommand" />
  </bean>

  <bean name='/katariSocialCanvas.js'
    class='com.globant.katari.gadgetcontainer.view.CanvasModelController'
    p:viewName="katari-social-canvas.js">
    <constructor-arg ref='debugMode'/>
  </bean>

  <!-- Command definitions -->
  <bean name="gadgetGroupCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.GadgetGroupCommand">
    <constructor-arg index="0" ref="coreuser.userRepository" />
    <constructor-arg index="1" ref="gadgetGroupRepository" />
    <constructor-arg index="2" ref="userService" />
    <constructor-arg index='3' ref="tokenService" />
    <constructor-arg index='4' ref='gadgetcontainer.viewOwnerRestriction'/>
  </bean>

  <bean name="moveGadgetCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.MoveGadgetCommand">
    <constructor-arg index="0" ref="gadgetGroupRepository" />
    <constructor-arg index="1" ref="userService" />
  </bean>

  <bean name="listApplicationsCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.ListApplicationsCommand">
    <constructor-arg index="0" ref="applicationRepository" />
    <constructor-arg index="1" ref="gadgetGroupRepository" />
    <constructor-arg index="2" ref="userService" />
  </bean>

  <bean name="addApplicationToGroupCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.AddApplicationToGroupCommand">
    <constructor-arg index="0" ref="applicationRepository" />
    <constructor-arg index="1" ref="gadgetGroupRepository" />
    <constructor-arg index="2" ref="userService" />
  </bean>

  <bean name="removeApplicationFromGroupCommand" scope="prototype"
    class="com.globant.katari.gadgetcontainer.application.RemoveApplicationFromGroupCommand">
    <constructor-arg index="0" ref="gadgetGroupRepository" />
    <constructor-arg index="1" ref="userService" />
  </bean>

  <bean
    class="com.globant.katari.core.spring.ConstructorArgumentsBeanNameAutoProxyCreator"
    p:proxyTargetClass="true" p:beanNames="*Command">
    <property name="interceptorNames">
      <list>
        <value>transactionInterceptor</value>
      </list>
    </property>
  </bean>

  <bean id="transactionInterceptor"
    class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager" ref="katari.transactionManager" />
    <property name="transactionAttributes">
      <props>
        <prop key="execute">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <bean id='gadgetGroupRepository'
    class='com.globant.katari.gadgetcontainer.domain.GadgetGroupRepository'>
    <property name='sessionFactory'>
      <ref bean='katari.sessionFactory' />
    </property>
  </bean>

  <bean id='applicationRepository'
    class='com.globant.katari.gadgetcontainer.domain.ApplicationRepository'>
    <property name='sessionFactory'>
      <ref bean='katari.sessionFactory' />
    </property>
  </bean>

  <bean id='userService'
    class='com.globant.katari.gadgetcontainer.domain.ContextUserService' />

  <bean id='tokenService'
    class='com.globant.katari.gadgetcontainer.application.TokenService'>
    <constructor-arg index="0" ref="shindig.tokenCrypter" />
    <constructor-arg index="1" ref="shindig.containerDomain" />
    <constructor-arg index="2" ref="shindig.containerName" />
  </bean>

  <!-- vim: set ts=2 sw=2 et ai: -->
</beans>

