<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xmlns:p="http://www.springframework.org/schema/p"
      xmlns:util="http://www.springframework.org/schema/util"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <import resource='classpath:net/bull/javamelody/monitoring-spring.xml'/>

  <bean id='monitoring.module'
      class='com.globant.katari.core.web.ConfigurableModule'>

    <property name='listeners'>
      <list>
        <bean class='net.bull.javamelody.SessionListener'/>
      </list>
    </property>

    <property name='filters'>
      <bean class="org.springframework.beans.factory.config.ListFactoryBean">
        <property name="sourceList">
          <list>
            <bean class="com.globant.katari.core.web.FilterMapping">
              <constructor-arg><value>.*</value></constructor-arg>
              <constructor-arg>
                <bean class="com.globant.katari.core.web.FilterAndParameters">
                  <constructor-arg>
                    <bean class
                      ="com.globant.katari.monitoring.NoGzipMonitoringFilter"/>
                  </constructor-arg>
                  <constructor-arg>
                    <util:map>
                      <entry key="monitoring-path"
                        value="/module/monitoring/m"/>
                    </util:map>
                  </constructor-arg>
                </bean>
              </constructor-arg>
            </bean>
          </list>
        </property>
      </bean>
    </property>

    <!-- The menu bar. -->
    <property name="menuBar">
      <katari:menuBar>
        <katari:menuNode name='Administration'>
          <katari:menuItem name='Monitor' link='m' />
        </katari:menuNode>
      </katari:menuBar>
    </property>

    <property name="urlToRoleMapper">
      <bean class="com.globant.katari.core.security.StaticUrlToRoleMapper"
        id='report.urlToRoleMapper'>
        <constructor-arg index="0">
          <map>
            <entry key='/**/*' value='ROLE_ADMINISTRATOR' />
            <!-- entry key='/**/*' value='IS_AUTHENTICATED_ANONYMOUSLY' /-->
          </map>
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <!-- Adds monitoring to html validation ignored list. -->
  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='katari.htmlValidator.ignoredUrlpatterns' />
    <constructor-arg>
      <list>
        <value>.*monitoring/.*</value>
      </list>
    </constructor-arg>
  </bean>

</beans>
<!-- vim: set ts=2 et sw=2 ai : -->

