#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- The user module configuration file. This file must be included in the
  application context to use this module. -->

  <bean id="user.module" class="com.globant.katari.core.web.ConfigurableModule">
    <property name='entryPoints'>
      <!-- The servlet mappings. It maps the spring
           EventFilterDispatcherServlet to *.do. -->
      <bean class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
          <map>
            <!-- The spring-mvc controller servlet -->
            <entry key=".*${symbol_escape}.do">
              <bean class="com.globant.katari.core.web.ServletAndParameters">
                <constructor-arg index="0">
                  <bean
                    class="com.globant.katari.core.web.EventFilterDispatcherServlet"
                    />
                </constructor-arg>
                <constructor-arg index="1">
                  <map>
                    <entry key="contextConfigLocation">
                      <value>
                        classpath:/${packageInPathFormat}/web/user/view/spring-servlet.xml
                      </value>
                    </entry>
                  </map>
                </constructor-arg>
              </bean>
            </entry>
          </map>
        </property>
      </bean>
    </property>

    <property name='menuBar'>
      <!-- The menu bar. -->
      <katari:menuBar>
        <katari:menuNode name='Administration'>
          <katari:menuNode name='Users'>
            <katari:menuItem name='List' link='users.do' />
            <katari:menuItem name='New' link='createUser.do' />
          </katari:menuNode>
        </katari:menuNode>
      </katari:menuBar>
    </property>

    <property name="urlToRoleMapper">
      <bean class="com.globant.katari.core.security.StaticUrlToRoleMapper">
        <constructor-arg index="0">
          <map>
            <entry key="/userDelete.do" value="ROLE_ADMINISTRATOR" />
            <entry key="/createUser.do" value="ROLE_ADMINISTRATOR" />
            <entry key="/**/*" value="IS_AUTHENTICATED_FULLY" />
          </map>
        </constructor-arg>
      </bean>
    </property>

  </bean>

  <!-- We expose the user repository as a public bean. It is used for the
    security modules. -->
  <bean id='user.userRepository'
    class='${package}.web.user.domain.UserRepository'>
    <property name='sessionFactory'>
      <ref bean='katari.sessionFactory' />
    </property>
  </bean>

  <!-- Registers the persistent classes. -->
  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='katari.persistentClasses'/>
    <constructor-arg>
      <list>
        <value>${package}.web.user.domain.User</value>
      </list>
    </constructor-arg>
  </bean>

  <!-- Defines the searchable entities and their corresponding handlers for the
       search module. -->
  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='search.indexableClasses'/>
    <constructor-arg>
      <list>
        <value>${package}.web.user.domain.User</value>
        <value>com.globant.katari.hibernate.coreuser.domain.Role</value>
      </list>
    </constructor-arg>
  </bean>
  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='search.adapters'/>
    <constructor-arg>
      <list>
        <bean class="${package}.web.user.domain.UserSearchAdapter">
          <constructor-arg value='/module/user'/>
        </bean>
      </list>
    </constructor-arg>
  </bean>

</beans>

<!-- vim: set ts=2 et sw=2 ai : -->

