<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <import resource="classpath:com/globant/katari/core/beans-core.xml"/>
  <import resource="classpath:com/globant/katari/quartz/module.xml"/>
  <import resource="classpath:com/globant/katari/quartz/view/spring-servlet.xml"/>

  <bean id='someObject'
    class='com.globant.katari.quartz.MockScheduledCommand' />

  <bean id="sampleBeanJobDetail"
    class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
    <property name="targetObject" ref="someObject"/>
    <property name="targetMethod" value="execute"/>
    <property name="concurrent" value="true"/>
  </bean>

  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='quartz.schedulerTasks'/>
    <constructor-arg>
      <list>
        <bean class="org.springframework.scheduling.quartz.SimpleTriggerBean">
          <property name="jobDetail" ref="sampleBeanJobDetail"/>
          <property name="startDelay" value="5000"/>
          <property name="repeatInterval" value="7200000"/>
        </bean>
      </list>
    </constructor-arg>
  </bean>

<!-- vim: set ts=2 et sw=2 ai tw=80: -->
</beans>

