<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <import resource="classpath:com/globant/katari/core/beans-core.xml"/>
  <import resource="classpath:com/globant/katari/quartz/module.xml"/>
  <import resource="classpath:com/globant/katari/quartz/view/spring-servlet.xml"/>

  <bean id='someObject'
    class='com.globant.katari.quartz.MockScheduledCommand' />

  <bean class='com.globant.katari.core.web.ListFactoryAppender'>
    <constructor-arg value='quartz.schedulerTasks'/>
    <constructor-arg>
      <list>
        <bean class="com.globant.katari.quartz.domain.CronTrigger">
          <constructor-arg index='0' value="0 0 0 * * ?"/>
          <constructor-arg index='1' value="someObject"/>
        </bean>
      </list>
    </constructor-arg>
  </bean>

<!-- vim: set ts=2 et sw=2 ai tw=80: -->
</beans>

