#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- freemarker config -->
  <bean id="freemarkerConfig"
    class="com.globant.katari.core.web.FreeMarkerConfigurer"
    p:templateLoaderPath="classpath:/com/globant/${clientName}/${projectName}/web/user/view/"
    p:debugPrefix='../${rootArtifactId}-web/src/main/resources'
    p:debug-ref='debugMode'/>

  <bean id="freemarkerViewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
    p:prefix="/" p:suffix=".ftl"
    p:exposeSpringMacroHelpers='true'/>

  <!-- The spring mappings. -->
  <bean name='/users.do'
      class='com.globant.${clientName}.${projectName}.web.user.view.UsersController'>
    <lookup-method name="createCommandBean" bean="userFilterCommand" />
  </bean>

  <!-- Creates a user. -->
  <bean name="/createUser.do"
      class="com.globant.${clientName}.${projectName}.web.user.view.UserController"
      p:formView="userEdit"
      p:validator-ref="commandValidator"
      p:messageCodesResolver-ref="messageCodesResolver">
    <lookup-method name="createCommandBean" bean="createUserCommand" />
  </bean>

  <!-- Edits a user. -->
  <bean name="/userEdit.do"
      class="com.globant.${clientName}.${projectName}.web.user.view.UserController"
      p:validator-ref="commandValidator"
      p:messageCodesResolver-ref="messageCodesResolver">
    <lookup-method name="createCommandBean" bean="editUserCommand" />
  </bean>

  <!-- Shows a user. -->
  <bean name="/userView.do"
      class="com.globant.${clientName}.${projectName}.web.user.view.UserController"
      p:formView="userView" >
    <lookup-method name="createCommandBean" bean="editUserCommand" />
  </bean>

  <!-- Changes the user password. -->
  <bean name="/changePassword.do"
      class="com.globant.${clientName}.${projectName}.web.user.view.UserController"
      p:validator-ref="commandValidator"
      p:messageCodesResolver-ref="messageCodesResolver">
    <lookup-method name="createCommandBean" bean="passwordCommand" />
  </bean>

  <!-- Deletes a user. -->
  <!-- This controller only expects a post, for now. We can easily implement a
  confirmation page using:
  <property name="formView" value="confirmDelete" />
  and make confirmDelete.ftl post to this controller.
  -->
  <bean name="/userDelete.do"
      class="com.globant.${clientName}.${projectName}.web.user.view.UserController">
    <lookup-method name="createCommandBean" bean="deleteUserCommand" />
  </bean>

  <!-- Validators -->
  <bean name="commandValidator"
      class="com.globant.katari.core.application.CommandValidator" />

  <bean id="messageSource"
      class="org.springframework.context.support.ResourceBundleMessageSource">
    <property name="basenames">
      <list>
        <value>com.globant.${clientName}.${projectName}.web.user.messages</value>
      </list>
    </property>
    <property name="useCodeAsDefaultMessage">
      <value>true</value>
    </property>
  </bean>

  <bean id="messageCodesResolver"
    class="org.springframework.validation.DefaultMessageCodesResolver"
    p:prefix="validation."/>

  <!-- Commands -->
  <bean name="userFilterCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.UserFilterCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
  </bean>

  <!-- bean name="viewUserCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.ViewUserCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
  </bean -->

  <bean name="deleteUserCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.DeleteUserCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
  </bean>

  <bean class
    ="com.globant.katari.core.spring.ConstructorArgumentsBeanNameAutoProxyCreator">
    <property name="proxyTargetClass" value="true" />
    <property name="beanNames">
      <list>
        <value>*Command</value>
      </list>
    </property>
    <property name="interceptorNames">
      <list>
        <value>transactionInterceptor</value>
      </list>
    </property>
  </bean>

  <bean id="transactionInterceptor"
      class="org.springframework.transaction.interceptor.TransactionInterceptor">
    <property name="transactionManager" ref="katari.transactionManager" />
    <property name="transactionAttributes">
      <props>
        <prop key="execute">PROPAGATION_REQUIRED</prop>
      </props>
    </property>
  </bean>

  <bean name="editUserCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.SaveUserCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
    <constructor-arg index="1" >
      <ref bean="role.roleRepository" />
    </constructor-arg>
    <constructor-arg index="2" >
      <ref bean="profile" />
    </constructor-arg>
  </bean>

  <bean name="createUserCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.SaveUserCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
    <constructor-arg index="1" >
      <ref bean="role.roleRepository" />
    </constructor-arg>
    <constructor-arg index="2" >
      <ref bean="profile" />
    </constructor-arg>
    <constructor-arg index="3" >
      <ref bean="password" />
    </constructor-arg>
  </bean>

  <bean name="passwordCommand" scope="prototype"
      class="com.globant.${clientName}.${projectName}.web.user.application.SaveUserCommand" >
    <constructor-arg index="0" >
      <ref bean="user.userRepository" />
    </constructor-arg>
    <constructor-arg index="1" >
      <ref bean="role.roleRepository" />
    </constructor-arg>
    <constructor-arg index="2" >
      <ref bean="password" />
    </constructor-arg>
  </bean>

  <bean id='profile' scope='prototype'
    class="com.globant.${clientName}.${projectName}.web.user.application.Profile"/>

  <bean id='password' scope='prototype'
    class="com.globant.${clientName}.${projectName}.web.user.application.Password"/>

  <!-- vim: set filetype=xml ts=2 et sw=2 ai: -->
</beans>

