<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- The event module configuration file. This file must be included in the
  application context to use this module. -->

  <bean id="muleManager"
    class="org.mule.extras.spring.config.AutowireUMOManagerFactoryBean"/>

  <bean id="muleConfig" class="org.mule.config.MuleConfiguration"
    depends-on="muleManager">
    <property name="serverUrl" value=""/>
  </bean>

  <bean id="applicationEventMulticaster"
    class="org.mule.extras.spring.events.MuleEventMulticaster">
      <property name="asynchronous" value="false" />
  </bean>

  <!-- Initializes the EventUtils. -->
  <bean class="com.globant.katari.event.application.EventUtilsInitializer"/>

</beans>

<!-- vim: set ts=2 et sw=2 ai : -->

