<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:p="http://www.springframework.org/schema/p"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- freemarker config -->
  <bean id="freemarkerConfig"
    class="com.globant.katari.core.web.FreeMarkerConfigurer"
    p:templateLoaderPath="classpath:/com/globant/katari/quartz/view/"
    p:debugPrefix='../katari-quartz/src/main/resources'
    p:debug-ref='debugMode'/>

  <bean id="freemarkerViewResolver"
    class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver"
    p:prefix="/" p:suffix=".ftl"
    p:exposeSpringMacroHelpers='true'
    p:exposeRequestAttributes='true'/>

  <!-- Controllers. -->
  <bean name="/getTasks.do"
    class='com.globant.katari.core.spring.controller.JsonCommandController'>
     <lookup-method name="createCommandBean" bean="listTasksCommand" />
  </bean>

  <bean name="/taskDashboard.do"
    class="com.globant.katari.core.spring.controller.CommandController">
    <constructor-arg index='0' value='taskDashboard' />
    <lookup-method name="createCommandBean" bean="listTasksCommand" />
   </bean>

  <bean name='listTasksCommand'
    class='com.globant.katari.quartz.application.ListTasksCommand'
    scope='prototype'>
    <constructor-arg index='0' ref='quartz.schedulerFactory' />
  </bean>

  <!-- vim: set ts=2 et sw=2 ai : -->
</beans>

