<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xmlns:p="http://www.springframework.org/schema/p"
      xmlns:util="http://www.springframework.org/schema/util"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd
      http://www.springframework.org/schema/util
      http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <bean id='quartz.module'
      class='com.globant.katari.core.web.ConfigurableModule'>

    <property name='entryPoints'>
      <bean
        class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
          <map>
            <!-- The spring-mvc controller servlet -->
            <entry key=".*\.do">
              <bean
                class="com.globant.katari.core.web.ServletAndParameters">
                <constructor-arg index="0">
                  <bean
                    class="com.globant.katari.core.web.EventFilterDispatcherServlet"/>
                </constructor-arg>
                <constructor-arg index="1">
                  <map>
                    <entry key="contextConfigLocation">
                      <value>
                        classpath:/com/globant/katari/quartz/view/spring-servlet.xml
                      </value>
                    </entry>
                  </map>
                </constructor-arg>
              </bean>
            </entry>
          </map>
        </property>
      </bean>
    </property>

    <!-- The menu bar. -->
    <property name="menuBar">
      <katari:menuBar>
        <katari:menuNode name='Administration'>
          <katari:menuItem name='Jobs' link='taskDashboard.do' />
        </katari:menuNode>
      </katari:menuBar>
    </property>

    <property name="urlToRoleMapper">
      <bean class="com.globant.katari.core.security.StaticUrlToRoleMapper"
        id='report.urlToRoleMapper'>
        <constructor-arg index="0">
          <map>
            <!-- should be in another module -->
            <entry key='/**/*' value='ROLE_ADMINISTRATOR' />
          </map>
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <!-- list of tasks that will be executed by quartz. Use ListFactoryAppender
       to Add tasks here. -->
  <util:list id='quartz.schedulerTasks'/>

  <!-- exposeSchedulerInRepository is used to let katari-monitoring monitor
       quartz jobs. -->
  <bean id='quartz.schedulerFactory'
    class="org.springframework.scheduling.quartz.SchedulerFactoryBean"
    p:triggers-ref='quartz.schedulerTasks' p:exposeSchedulerInRepository="true"
    />

  <!-- Basic quartz schedules. -->
  <!-- Run monthly, at 2 AM, on every 1st of the month. The 2 AM time is to
       avoid DST changes related problems. -->
  <bean id='quartz.monthly' class='com.globant.katari.core.spring.StringHolder'
    p:value='0 0 2 1 * ?'/>

  <!-- Run weekly, at 2 AM, on every sunday. The 2 AM time is to avoid DST
       changes related problems. -->
  <bean id='quartz.weekly' class='com.globant.katari.core.spring.StringHolder'
    p:value='0 0 2 ? * SUN'/>

  <!-- Run daily, at 2 AM. This is to avoid DST changes related problems. -->
  <bean id='quartz.daily' class='com.globant.katari.core.spring.StringHolder'
    p:value='0 0 2 * * ?'/>

  <!-- Run hourly. -->
  <bean id='quartz.hourly' class='com.globant.katari.core.spring.StringHolder'
    p:value='0 0 * * * ?'/>

  <!-- Run every 5 minutes. -->
  <bean id='quartz.everyFiveMinutes'
    class='com.globant.katari.core.spring.StringHolder'
    p:value='0 0/5 * * * ?	'/>

</beans>
<!-- vim: set ts=2 et sw=2 ai : -->

