<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:katari="http://www.globant.com/schema/katari"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.globant.com/schema/katari
    http://www.globant.com/schema/katari/katari.xsd">

  <bean id="jsmodule.module"
    class="com.globant.katari.core.web.ConfigurableModule">
    <property name="entryPoints">
      <bean class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="sourceMap">
          <map>
            <entry key="/.*">
              <bean class="com.globant.katari.core.web.ServletAndParameters">
                <constructor-arg index="0">
                  <bean class="com.globant.katari.jsmodule.view.ContentModuleServlet"/>
                </constructor-arg>
                <constructor-arg index="1">
                  <map>
                    <entry key="debug" value-ref='debugMode'/>
                    <entry key="requestCacheContent" value="true"/>
                  </map>
                </constructor-arg>
              </bean>
            </entry>
          </map>
        </property>
      </bean>
    </property>

    <!-- Everybody can access the static resources. -->
    <property name="urlToRoleMapper">
      <bean class="com.globant.katari.core.security.StaticUrlToRoleMapper">
        <constructor-arg index="0">
          <map>
            <entry key="/**/*" value="IS_AUTHENTICATED_ANONYMOUSLY" />
          </map>
        </constructor-arg>
      </bean>
    </property>
  </bean>
<!-- vim: set ts=2 sw=2 et ai: -->  
</beans>

