#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:katari="http://www.globant.com/schema/katari"
      xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      http://www.globant.com/schema/katari
      http://www.globant.com/schema/katari/katari.xsd">

  <!-- Property override configure post-processor. It configures the beans with
  properties from ${clientName}-${projectName}.properties -->
  <bean
    class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
    <property name="location" value="classpath:/${clientName}-${projectName}.properties"/>
  </bean>

</beans>

<!-- vim: set ts=2 et sw=2 ai: -->

